.foto {
    width: 100%;
    height: fit-content;
    background-image: url("images/bg-1.png");
    background-position: 50% 0%;
    background-size: cover;
}

.foto2 {
    width: 100%;
    height: fit-content;
    background-image: url("images/bg-2.png");
    background-position: 50% 50%;
    background-size: cover;
}